*{
  box-sizing: border-box;
  margin:0;
}
/* ===============================banner區===============================  */
.home_banner{
  /* margin:42px auto 0px auto; */
  margin: 0 auto;
  width: 100%;
  /* height: 380px; */
  background-image: url("../imgs/banner_bg(1).jpg");
  overflow: hidden;
  z-index: 1;
  padding-top: 100px;
}

.home_banner>.home_banner_box{
  width:1200px;
  height:100%;
  margin:0 auto;
  /* border:3px solid purple; */
}

.home_banner>.home_banner_box>.banner_slider_this{
  /* width:740px; */
  width: 61.67%;
  overflow: hidden;
  margin:0 auto;
  z-index: 0;
  /* border:3px solid purple; */
}

.home_banner>.home_banner_box>.banner_slider_this>.banner_slider_allitems{
  /* width:5180px;   */
  width: 700%;
  /* 這裡的長度要再加第一張(重疊) */
  position:relative;
  animation: slider 15s infinite;
}

.home_banner>.home_banner_box>.banner_slider_this>.banner_slider_allitems>img{
  /* width:740px; */
  width:14.285%;
  /* height:380px; */
  overflow: hidden;
  float:left;
}

@keyframes slider{
  /* 這裡是指每一張出現的時間與位置 */
     /* 0%{left:     0px;}
  16.7%{left:  -740px;}
  33.4%{left: -1480px;}
    50%{left: -2220px;}
  66.7%{left: -2960px;}
  83.3%{left: -3700px;}
   100%{left: -4440px;} */
     0%{left:    0%;}
  16.7%{left: -100%;}
  33.4%{left: -200%;}
    50%{left: -300%;}
  66.7%{left: -400%;}
  83.3%{left: -500%;}
   100%{left: -600%;}
}

/* ========================== RWD : BANNER區==========================  */
@media screen and (max-width: 575px){
  .home_banner>.home_banner_box{
    width:100%;
  }
  .home_banner>.home_banner_box>.banner_slider_this{
    width: 100%;
  }
} 
@media screen and (min-width: 576px) and (max-width: 767px){
  .home_banner>.home_banner_box{
    width: 560px;
  }
  .home_banner>.home_banner_box>.banner_slider_this{
    width: 90%;
  } 
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .home_banner>.home_banner_box{
    width: 750px;
  }
  .home_banner>.home_banner_box>.banner_slider_this{
    width: 70%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .home_banner>.home_banner_box{
    width: 975px;
  }
  .home_banner>.home_banner_box>.banner_slider_this{
    width: 65%;
  }
}
/* ================================================================  */
/* =======================banner 下方 選單區=======================  */

.home_button_01{
  width:100%;
  margin: 15px auto 0 auto;
  background-image: url("../imgs/home_button_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.home_button_01>.home_button_02{
  width:1200px;
  margin:0 auto;
  display: flex;
  justify-content: space-between; 
  align-items:center;
  flex-directoin:row;
  flex-wrap:wrap;
  padding-left: 1%;
  padding-right: 1%;
  /* border:3px solid purple; */
}

/* ===========banner下方的四張圖片=========== */
.home_button_01>.home_button_02>.home_button_03{
  width: 22%;
  margin-top: 2.2%;
  margin-bottom: 2.2%;
  overflow: hidden;
  position:relative;
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 2px 2px 2px 1px #666;
}

.home_button_01>.home_button_02>.home_button_03>a>img{
  width:100%;
}

.home_button_01>.home_button_02>.home_button_03>a>button{
  font-size: 16px;
  line-height: 16px;
  font-weight: 550;
  color: #444444;
  /* width:110px; */
  width: 43%;
  padding:3%;
  border:1px solid white;
  border-radius: 2px;
  background-color: white;
  position:absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 2px 2px 2px 1px #666;
}
.home_button_01>.home_button_02>.home_button_03>a>button:hover{
  border:1px solid #777777;
  background-color: #777777;
  color: white;
}

/* ==================== RWD : banner 下方 選單區====================  */


@media screen and (max-width: 575px){
      .home_button_01{
        background-image: none;
        background-color: #444444;
        margin-top: 0;
      }
      .home_button_01>.home_button_02{
        width: 100%;  
        /* border: 5px solid blue ; */
        justify-content: space-around;
      }   
      .home_button_01>.home_button_02>.home_button_03{
        width: 47%;
      }
      .home_button_01>.home_button_02>.home_button_03>a>button{
        width: 52%;
        font-size: 15px;
      }
} 
@media screen and (min-width: 576px) and (max-width: 767px){
      .home_button_01>.home_button_02{
        width: 560px;
        /* border: 5px solid green; */
      }  
      .home_button_01>.home_button_02>.home_button_03{
        width: 23%;
      } 
     
      .home_button_01>.home_button_02>.home_button_03>a>button{
        width: 65%;
        font-size: 15px;
      }
}
@media screen and (min-width: 768px) and (max-width: 991px){
      .home_button_01>.home_button_02{
        width: 750px;
        /* border: 5px solid yellow; */
      } 
      .home_button_01>.home_button_02>.home_button_03>a>button{
        width: 60%;
      }
}    
@media screen and (min-width: 992px) and (max-width: 1199px){
      .home_button_01>.home_button_02{
        width: 975px;
        /* border: 5px solid orange; */
      }   
}

/* ===========================新品上市區===========================  */
/* ==================== 大背框:寬100%包含四大區 ===================  */
.new_area_bg_all{
  width:100%;
}

/* ==============h2單區標題==============  */
/* .new_area_bg_all>h2{ */
h2{
  width: 1200px;
  margin:0 auto;
  font-size: 28px;
  color: #AE0000;
  padding-top:50px;
  padding-left:7px;
  padding-bottom: 1px;
}

/* =========================RWD : H2標題============================  */
@media screen and (max-width: 575px){
  h2{
    width: 100%;
    font-size:24px;
  }
} 
@media screen and (min-width: 576px) and (max-width: 767px){
  h2{
    width: 560px;
    font-size:24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  h2{
    width: 750px;
    font-size:24px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  h2{
    width: 975px;
  }
}


/* ========單區大背框 100% 填灰色========  */
.new_area_bg_all>.new_area_bg{
  width:100%;
  background-color: #777777;
}

/* ===========單區主背框 1200px==========  */
.new_area_bg_all>.new_area_bg>.new_area_b01{
  width:1200px;
  margin:0 auto;
  /* border:4px solid purple; */
  display:flex;
}

/* ======================== RWD : 單區主背框========================  */
@media screen and (max-width: 575px){
  .new_area_bg_all>.new_area_bg>.new_area_b01{
    width:100%;
    /* border:5px solid blue; */
  }
} 
@media screen and (min-width: 576px) and (max-width: 767px){
  .new_area_bg_all>.new_area_bg>.new_area_b01{
    width: 560px;
    /* border:5px solid green; */
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .new_area_bg_all>.new_area_bg>.new_area_b01{
    width: 750px;
    /* border:5px solid yellow; */
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .new_area_bg_all>.new_area_bg>.new_area_b01{
    width: 975px;
    /* border:5px solid orange; */
  }
}


/* =========單區 四小格設定 寬25%========  */
.new_area_bg_all>.new_area_bg>.new_area_b01>div{
  width:25%;
  position:relative;
  overflow: hidden;
}

/* ==== #1(btn) & #2(new)背景圖設定======  */
.new_area_bg_all>.new_area_bg>.new_area_b01>div>img{
  max-width:100%;
  overflow: hidden;
}

/* ======= 四小區上面的灰白框設定========  */

.box_a,.box_b{
  position: absolute;
  top: 0;
  left: 0;
  margin: 5% 6%;
  width: 88%;
  height: 90%;
  border: 3px solid #999999;
}
/* .box_b{
  position: absolute;
  top: 0;
  left: 0;
  margin: 6% 7% 6% 7%;
  width: 86%;
  height: 88%;
  border: 3.5px solid #555555;
} */

/* ===========:#1(btn : 選購新品)==========  */
/* ===========:#1(btn : 選購新品)==========  */

.new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1{
  max-width: 100%;
  overflow: hidden;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>span{
  font-size: 50px;
  color:  #999999;
  position:absolute;
  top:45%;
  left:50%;
  transform: translate(-50%, -50%);
}
.new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>a>.btn{
  width:60%;
  /* height: 13%; */
  padding:3%;
  font-size: 16px;
  font-weight: 550;
  color: #444444;
  background-color: white;
  border:1px solid white;
  border-radius: 2px;
  /* background-color: transparent; */
  position:absolute;
  top:60%;
  left:50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 2px 2px 2px 1px #666;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>a>.btn:hover{
  color: white;
  background-color:#777777;
  border:1px solid #777777;
}

/* ===================== RWD : #1(btn : 選購新品)=====================  */

@media screen and (max-width: 575px){
  /* border:5px solid blue; */
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>span{
    font-size: 35px;
  }
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>a>.btn{
    width:65%;
    border:2px solid white;
    position:absolute;
    top:62%;
  }
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>a>.btn{
    font-size: 12px;
  }
} 
@media screen and (min-width: 576px) and (max-width: 767px){
  /* border:5px solid green; */
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>span{
    font-size: 45px;
  }
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>a>.btn{
    width:55%;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  /* border:5px solid yellow; */
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>span{
    font-size: 38px;
  }
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>a>.btn{
    width:75%;
    position:absolute;
    top:62%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  /* border:5px solid orange; */
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>span{
    font-size: 45px;
  }
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_1>.box_b>a>.btn{
    width:65%;
  }
}


/* ===============#2(NEW IN)================  */
/* ===============#2(NEW IN)================  */

.new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_2{
  background-image: url("../imgs/bg_gray.jpg");
  max-width: 100%;
  overflow: hidden;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_2>.box_b>span{
  /* border:1px solid red; */
  font-size: 55px;
  color:  #555555;
  font-weight: bold;
  position: absolute;
  top:40%;
  left:12%;
  transform: rotate(30deg)
}

/* ========================== RWD : #2(NEW IN)==========================  */
@media screen and (min-width: 768px) and (max-width: 991px){
  /* border:5px solid yellow; */
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_2>.box_b>span{
    font-size: 33px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  /* border:5px solid orange; */
  .new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_2>.box_b>span{
    font-size: 45px;
  }
}


/* ===============#3(圖片區)================  */
/* ===============#3(圖片區)================  */

/* ========基本文字設定========  */
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(1){
  font-size: 16px;
  font-weight: bold;
  color:#333333;
  position: absolute;
  top:40%;
  left:10%;
}

.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(2){
  font-size: 16px;
  font-weight: bold;
  color:#333333;
  position: absolute;
  top:49%;
  left:10%;
}

.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(3){
  font-size: 16px;
  font-weight: bold;
  color:#333333;
  position: absolute;
  top:58%;
  left:10%;
}

/* ========文字個別調整========  */
/* ====女裝(第二圖)文字設定====  */

.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.new_in_women_22{
  color: white;
  font-weight: 500;
  position: absolute;
  top:48%;
  left:20%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.style_name_women_22{
  color: white;
  font-weight: 500;
  position: absolute;
  top:57%;
  left:20%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.price_women_22{
  color: white;
  font-weight: 500;
  position: absolute;
  top:66%;
  left:20%;
} 

/* ========文字個別調整========  */
/* ====男裝(第一圖)文字設定====  */
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.new_in_men_11{
  color: white;
  font-weight: 500;
  position: absolute;
  top:40%;
  left:13%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.style_name_men_11{
  color: white;
  font-weight: 500;
  position: absolute;
  top:49%;
  left:13%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.price_men_11{
  color: white;
  font-weight: 500;
  position: absolute;
  top:58%;
  left:13%;
} 

/* ========文字個別調整========  */
/* ====男裝(第二圖)文字設定====  */
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.new_in_men_22{
  color: white;
  font-weight: 500;
  position: absolute;
  top:42%;
  left:29%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.style_name_men_22{
  color: white;
  font-weight: 500;
  position: absolute;
  top:51%;
  left:29%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.price_men_22{
  color: white;
  font-weight: 500;
  position: absolute;
  top:60%;
  left:29%;
}

/* ========文字個別調整========  */
/* ====童裝(第一圖)文字設定====  */
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.new_in_kid_11{
  position: absolute;
  top:75%;
  left:42%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.style_name_kid_11{
  position: absolute;
  top:84%;
  left:42%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.price_kid_11{
  position: absolute;
  top:93%;;
  left:42%;
} 

/* ========文字個別調整========  */
/* ====童裝(第二圖)文字設定====  */
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.new_in_kid_22{
  color: white;
  font-weight: 500;
  position: absolute;
  top:56%;
  left:30%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.style_name_kid_22{
  color: white;
  font-weight: 500;
  position: absolute;
  top:83%;
  left:30%;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>.price_kid_22{
  color: white;
  font-weight: 500;
  position: absolute;
  top:91%;
  left:30%;
} 

/* =====================================================================  */ 

/* ==========#3 #4 IMG 設定==========  */
.new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_3>a>img{
  width:100%;
  transform: scale(1);
  transition: .5s;
}
.new_area_bg_all>.new_area_bg>.new_area_b01>.new_area_02_3>a:hover>img{
  transform: scale(1.2);
}
/* ====================RWD : #3 #4 (圖片區)============================  */ 

@media screen and (max-width: 575px){
  /* border:5px solid blue; */
  #not_showed,#not_showed_2{
    display:none;
  }
  .new_area_bg_all>.new_area_bg>.new_area_b01>div{
    width:50%;
  }
  .new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(1){
    font-size: 12px;
  } 
  
  .new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(2){
    font-size:  12px;
  }
  
  .new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(3){
    font-size:  12px;
  }

}
@media screen and (min-width: 576px) and (max-width: 767px){
  /* border:5px solid green; */
  #not_showed,#not_showed_1{
    display:none;
  }
  .new_area_bg_all>.new_area_bg>.new_area_b01>div{
    width:50%;
  }
  .new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(1){
    font-size: 14px;
  } 
  
  .new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(2){
    font-size:  14px;
  }
  
  .new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(3){
    font-size:  14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  /* border:5px solid yellow; */
  .new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(1){
    font-size: 14px;
  } 
  
  .new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(2){
    font-size:  14px;
  }
  
  .new_area_bg_all>.new_area_bg>.new_area_b01>div>a>.box_a>:nth-child(3){
    font-size:  14px;
  }
}
/* ================================================================  */ 
/* ======================NEW IN - ACCESSORIES======================= */

/* =======大背框100%=======  */
.newaccessories_area_bg_all{
  width:100%;
  /* background-color: #777777; */
  background: -webkit-linear-gradient(#888888,#333333);
  background: -o-linear-gradient(#888888,#333333);
  background: -moz-linear-gradient(#888888,#333333);
  background: linear-gradient(#888888,#333333);
}

/* =======背框1200px=======  */
.newaccessories_area_bg_all>.newaccessories_area_bg{
  width: 1200px;
  /* border: 3px solid purple; */
  margin: 0 auto;
  padding-top:7%;
  padding-bottom: 5%;
}

/* ====主背框1200px的75%===  */
.newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area{
  width:88%;
  margin:0 auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  align-items:space-between;
}

/* =======六小區塊設定=====  */
.newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory{
  width: 28%;
  margin: 1% auto;
  overflow: hidden;
  position:relative;
}

/* ====六小區塊圖文設定====  */
.newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>img{
  max-width:100%;
  transform: scale(1);
  transition: .5s;
}

.newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>img:hover{
  transform: scale(1.2);
}

.newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>.accessory_text{
  width: 85%;
  height: 33%;
  position:absolute;
  bottom:5%;
  left:50%;
  transform: translate(-50%);
  background: rgba(0, 0, 0, .4);
}

.newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>.accessory_text>:nth-child(1){
  color: white;
  font-size: 16px;
  position:absolute;
  top:25%;
  left:17%;
}

.newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>.accessory_text>:nth-child(2){
  color: white;
  font-size: 16px;
  position:absolute;
  top:50%;
  left:17%;
}

/* ====配件區按鈕設定====  */
.accessory_box{
  position: absolute;
  top: 0;
  left: 0;
  margin: 5% 6%;
  width: 88%;
  height: 90%;
  border: 3px solid #444444;
}

.text_accessory{
  font-size: 33px;
  font-weight: bold;
  color: #444444;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.accessory_btn{
    width:60%;
    padding:3%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: white;
    border:1px solid white;
    color:#444444;
    border-radius: 2px;
    position:absolute;
    top:53%;
    left:50%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    /* 水平位移 垂直位移 模糊 擴散 顏色 */
    box-shadow: 2px 2px 2px 1px #666;
}

.accessory_btn:hover{
  color: white;
  background-color: #777777;
  border:1px solid #777777;
}

/* =============================== RWD : 配件新品===============================  */

/* =============== RWD : 配件區按鈕 ================  */

@media screen and (max-width: 575px){
  .newaccessories_area_bg_all>.newaccessories_area_bg{
    width: 100%;
    /* border:5px solid blue; */
  }
  .text_accessory{
    font-size:12px;
  }
  .accessory_btn{
    width:110%;
    font-size: 12px;
  }
  .newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>.accessory_text>:nth-child(1){
    font-size: 12px;
    position:absolute;
    top:13%;
  }
  .newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>.accessory_text>:nth-child(2){
    font-size: 12px;
    position:absolute;
    top:53%;
  }
  .newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area{
    width:100%;
  }
} 

@media screen and (min-width: 576px) and (max-width: 767px){
  .newaccessories_area_bg_all>.newaccessories_area_bg{
    width: 560px;
    /* border:5px solid green; */
  }
  .text_accessory{
    font-size: 15px;
  }
  .accessory_btn{
    width:90%;
    font-size: 14px;
  }
  .newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>.accessory_text>:nth-child(1){
    font-size: 14px;
    position:absolute;
    top:15%;
  }
  .newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>.accessory_text>:nth-child(2){
    font-size: 14px;
    position:absolute;
    top:50%;
  }
  .newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area{
    width:100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .newaccessories_area_bg_all>.newaccessories_area_bg{
    width: 750px;
    /* border:5px solid yellow; */
  }
  .text_accessory{
    font-size:19px;
  }
  .accessory_btn{
    width:80%;
  }
  .newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>.accessory_text>:nth-child(1){
    font-size: 14px;
  }
  .newaccessories_area_bg_all>.newaccessories_area_bg>.newaccessories_area>.accessory>a>.accessory_text>:nth-child(2){
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .newaccessories_area_bg_all>.newaccessories_area_bg{
    width: 980px;
    /* border:5px solid orange; */
  }
  .text_accessory{
    font-size:26px;
  }
  .accessory_btn{
    width:70%;
  }
}

/* =================================================================  */ 



