*{
  box-sizing: border-box;
}

.member_bg{
    width: 100%;
    /* border:5px solid red; */
    height: calc(100vh - 75px);
    background-image: url("../imgs/member_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* border:5px solid red; */
}


.member_bg > .member_all{
    width:1200px;
    /* border:5px solid purple; */
    margin:0 auto;
    padding-top:100px;
    position: relative;
}

.member_bg > .member_all>h2{
    margin: 90px auto 4% 7px;
    font-size: 28px;
    color:#AE0000;
}

#tab-demo{
    width:40%;
    border-radius: 3px;
    position:absolute;
    top:30px;
    left:50%;
    transform: translateX(-50%);
    /* 水平位移 垂直位移 模糊 擴散 顏色 */
    box-shadow: 2px 2px 4px 2px #777;
}

#tab-demo > ul{ 
    display:block; 
    margin:0;
    padding:0;
    list-style:none;
    text-align: left;
    font-size: 0;
}

#tab-demo > ul > li{ 
    box-sizing: border-box;
    display:inline-block; 
    text-align: center; 
    border-bottom: 1px solid white;
    background: #aaa;
    list-style:none; 
    margin:0;
    padding:0;
    width:50%;
    cursor: pointer;
}

/* 頁籤 */
#tab-demo >  ul > li > a{ 
    color:#666; 
    text-decoration:none;
    font-size: 20px;
    font-weight: 550;
    line-height: 40px;
}


#tab-demo > ul > li.active{ 
    border-bottom:1px solid white; 
    background: white;
}


#tab-demo > .tab-inner{ 
    clear:both; 
    color: black;
    padding: 10% 5%;
    background-color: white;
    line-height:60px;
    text-align: center;
    border:1px solid white;
}

/* label文字 */
#tab-demo > .tab-inner > label{
    width:40%;
    /* border:1px solid red; */
    vertical-align: middle;
    font-size: 18px;
    line-height: 36px;
    font-weight: 550;
}

#tab-demo > .tab-inner > input{
    width:60%;
    border:1px solid gray;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    margin-left: 10px;
}

#tab-demo > .tab-inner > button{
    width:25%;
    font-size: 18px;
    line-height: 36px;
    font-weight: 550;
    background-color: black;
    border:1px solid black;
    margin-top: 5%;
    border-radius: 2px;
    color:white;
    cursor: pointer;
}
#tab-demo > .tab-inner > button:hover{
    background-color: #AE0000;
    border:1px solid #AE0000;
}


/* =============================RWD : 主背框============================= */

@media screen and (max-width: 575px){
        .member_bg > .member_all{
        width: 100%;
        /* border:5px solid blue; */
        } 
        /* 會員div表格 */
        #tab-demo{
            width:75%;
        }
        /* 頁籤文字 */
        #tab-demo >  ul > li > a{ 
            font-size: 16px;
            line-height: 32px;
        }
        /* label文字 */
        #tab-demo > .tab-inner > label{
            width:40%;
            font-size: 14px;
            line-height: 28px;
        }
        /* input文字 */
        #tab-demo > .tab-inner > input{
            width:60%;
            font-size: 14px;
            line-height: 28px;
        }
        /* 發送按鈕文字 */
        #tab-demo > .tab-inner > button{
            font-size: 14px;
            line-height: 28px;
        } 
        .member_bg > .member_all>h2{
            font-size: 24px;
        }   
  } 
  
  @media screen and (min-width: 576px) and (max-width: 767px){
        .member_bg > .member_all{
        width: 560px;
        /* border:5px solid green; */
        } 
        /* 會員div表格 */
        #tab-demo{
            width:70%;
        }
        /* 頁籤文字 */
        #tab-demo >  ul > li > a{ 
            font-size: 18px;
            line-height: 36px;
        }
        /* label文字 */
        #tab-demo > .tab-inner > label{
            width:40%;
            font-size: 16px;
            line-height: 32px;
        }
        /* input文字 */
        #tab-demo > .tab-inner > input{
            width:60%;
            font-size: 16px;
            line-height: 32px;
        }
        /* 發送按鈕文字 */
        #tab-demo > .tab-inner > button{
            font-size: 16px;
            line-height: 32px;
        } 
        .member_bg > .member_all>h2{
            font-size: 24px;
        }        
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px){
        .member_bg > .member_all{
        width: 750px;
        /* border:5px solid yellow; */
        }
        /* 會員div表格 */
        #tab-demo{
            width:55%;
        }
        /* 頁籤文字 */
        #tab-demo >  ul > li > a{ 
            font-size: 18px;
            line-height: 36px;
        }
        /* label文字 */
        #tab-demo > .tab-inner > label{
            width:40%;
            font-size: 16px;
            line-height: 32px;
        }
        /* input文字 */
        #tab-demo > .tab-inner > input{
            width:60%;
            font-size: 16px;
            line-height: 32px;
        }
        /* 發送按鈕文字 */
        #tab-demo > .tab-inner > button{
            font-size: 16px;
            line-height: 32px;
        }  
        .member_bg > .member_all>h2{
            font-size: 24px;
        }                            
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px){
        .member_bg > .member_all{ 
        width: 980px;
        /* border:5px solid orange; */
        }
        #tab-demo{
            width:50%;
        }
  }



