*{
  box-sizing: border-box;
}

body{
  background-color: white;
}

/* 現在位置: */
.header>.all>.right>.right_02>.menu_text_list>a>.women{
  border-bottom: 2px solid white;
}


.bg_all{
  width:100%;
}

.bg_all>.collection_all{
  width:1200px;
  margin:0 auto;
  /* padding-top: 100px; */
  /* border:3px solid purple; */
}

.bg_all>.play_vedio{
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  background-color:rgba(0, 0, 0, .99);
}

/* ===========左側aside================== */
.bg_all>.collection_all>.collection_aside{
  width:12%;
  font-size: 18px;
  display:inline-block;
  vertical-align: top;
  position:sticky;
  top:100px;
  left:0;
}

.bg_all>.collection_all>.collection_aside>h3{
  font-weight: bold;
  margin-top: 70%;
  text-align: center;
  margin-bottom: 15%;
}

.bg_all>.collection_all>.collection_aside>ul{
  font-weight: bold;
  color:#555;
  list-style: none;
  padding: 0;
  text-align: center;
  line-height:1.7;
}

.bg_all>.collection_all>.collection_aside>ul>li:hover{
  color: #AE0000;
}

.bg_all>.collection_all>.collection_aside>ul>li:hover>ul{
  display:block;
}

.bg_all>.collection_all>.collection_aside>ul>li>ul{
  font-weight: bold;
  color:#555;
  list-style: none;
  padding:0;
  text-align: right;
  display:none;
}

.bg_all>.collection_all>.collection_aside>ul>li>ul>li:hover{
  color: #AE0000;
} 

/* ===========右側main================== */
.bg_all>.collection_all>.collection_main{
  box-sizing: border-box;
  width:88%;
  display: inline-block;
  vertical-align: top;
  margin:0 auto;
  border-left:2.5px solid #eee;
  box-shadow: 3px 3px 5px 3px #eee;
  margin-bottom: 10PX;
}

.bg_all>.collection_all>.collection_main>.collection_box{
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;  
  justify-content: space-around;
  align-items: center;
  /* border:3px solid red; */
} 

/* ===========分類標題============= */
.bg_all>.collection_all>.collection_main>h2{
  font-size: 28px;
  color:#AE0000;
  margin: 30px auto 5px 2.5%;
} 

/* ===========每一格div============= */
.bg_all>.collection_all>.collection_main>.collection_box>.collection_new_a, .collection_new_b{
  width:21%;
  border-radius: 7px;
  overflow: hidden;      
  position: relative; 
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 3px 3px 5px 3px #888;
  margin-bottom:5%;
}

/* ========每一格div(背景圖) ((AB 組 共用))========= */
.bg_all>.collection_all>.collection_main>.collection_box>div>a>img{
  width:100%;
}

/* ======每一格div(款式圖&文字) ((AB 組 共用))====== */
.bg_all>.collection_all>.collection_main>.collection_box>div>a>div{
  width:69%;
  position:absolute;
  top:27%;
  left:26%;
}

/* =========每一格div(款式圖) ((AB 組 共用))======== */
.bg_all>.collection_all>.collection_main>.collection_box>div>a>div>img{
  width:100%;
  transform: scale(1);
  transition: .5s;
}

.bg_all>.collection_all>.collection_main>.collection_box>div>a>div>img:hover{
  transform: scale(1.2);
}

/* ==========每一格div(文字) ((AB 組 共用))========= */
.bg_all>.collection_all>.collection_main>.collection_box>div>a>div>p{
  font-size: 14px;
  font-weight:bold;
  color:#666;
  position:absolute;
  right:0;
}

/* ========== A 組 : 圖 & 字 位置設定 ========== */
/* ========== A 組 : 圖 & 字 位置設定 ========== */
.bg_all>.collection_all>.collection_main>.collection_box>.collection_new_a>a>div{
  position:absolute;
  top:27%;
  left:26%;
}

.bg_all>.collection_all>.collection_main>.collection_box>.collection_new_a>a>div>p{
  position:absolute;
  top:102%;
}

.bg_all>.collection_all>.collection_main>.collection_box>.collection_new_a>a>div>.price{
  position:absolute;
  top:115%;
}

/* ========== B 組 : 圖 & 字 位置設定 ========== */
/* ========== B 組 : 圖 & 字 位置設定 ========== */
.bg_all>.collection_all>.collection_main>.collection_box>.collection_new_b>a>div{
  position:absolute;
  top:20%;
  left:15.5%;
}

.bg_all>.collection_all>.collection_main>.collection_box>.collection_new_b>a>div>p{
  position:absolute;
  top:115%;
}

.bg_all>.collection_all>.collection_main>.collection_box>.collection_new_b>a>div>.price{
  position:absolute;
  top:128%;
}


/* ==========================RWD :============================================ */

@media screen and (min-width: 320px) and (max-width: 419px){
    .bg_all>.collection_all{
      /* border:5px solid pink; */
      width: 100%;
    } 
    .bg_all>.collection_all>.collection_aside{
      width:25%;
    }
    .bg_all>.collection_all>.collection_main{
      width:75%;
    }
    .bg_all>.collection_all>.collection_main>.collection_box>.collection_new_a, .collection_new_b{
      width:80%;
    }
    .bg_all>.collection_all>.collection_main>h2{
      font-size: 20px;
    }
    .bg_all>.collection_all>.collection_aside{
      width:12%;
      font-size: 12px;
    }
    .bg_all>.collection_all>.collection_aside{
      position:sticky;
      top:120px;
    }
} 

@media screen and (min-width: 420px) and (max-width: 575px){
    .bg_all>.collection_all{
      /* border:5px solid blue; */
      width: 100%;
    } 
    .bg_all>.collection_all>.collection_aside{
      width:22%;
    }
    .bg_all>.collection_all>.collection_main{
      width:78%;
    }
    .bg_all>.collection_all>.collection_main>.collection_box>.collection_new_a, .collection_new_b{
      width:60%;
    }
    .bg_all>.collection_all>.collection_main>h2{
      font-size: 20px;
    }
    .bg_all>.collection_all>.collection_aside{
      width:12%;
      font-size: 14px;
    }
    .bg_all>.collection_all>.collection_aside{
      position:sticky;
      top:110px;
    }
} 
@media screen and (min-width: 576px) and (max-width: 767px){
    .bg_all>.collection_all{
      /* border:5px solid green; */
      width: 560px;
    } 
    .bg_all>.collection_all>.collection_aside{
      width:20%;
    }
    .bg_all>.collection_all>.collection_main{
      width:80%;
    }
    .bg_all>.collection_all>.collection_main>.collection_box>.collection_new_a, .collection_new_b{
      width:43%;
    }
    .bg_all>.collection_all>.collection_main>h2{
      font-size: 24px;
    }
    .bg_all>.collection_all>.collection_aside{
      width:12%;
      font-size: 16px;
    }
    .bg_all>.collection_all>.collection_aside{
      position:sticky;
      top:110px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .bg_all>.collection_all{
      /* border:5px solid yellow; */
      width: 750px;
    } 
    .bg_all>.collection_all>.collection_aside{
      width:20%;
    }
    .bg_all>.collection_all>.collection_main{
      width:80%;
    }
    .bg_all>.collection_all>.collection_main>.collection_box>.collection_new_a, .collection_new_b{
      width:30%;
    }
    .bg_all>.collection_all>.collection_main>h2{
      font-size: 24px;
    }
    .bg_all>.collection_all>.collection_aside{
      width:12%;
      font-size: 16px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .bg_all>.collection_all{
      /* border:5px solid orange; */
      width: 980px;
    } 
    .bg_all>.collection_all>.collection_main>.collection_box>.collection_new_a, .collection_new_b{
      width:23%;
    }
}










