body{
  box-sizing: border-box;
}

/* 現在位置: */
.header>.all>.right>.right_02>.menu_text_list>a>.map{
  border-bottom: 2px solid white;
}

/* ================大背框(含背景圖)================ */
.myshop_bg{
  width:100%;
  /* height: calc(100vh - 75px); */
}

/* ============大背框(背景圖)============ */
/* .myshop_bg>.myshop_bg_color{
  background-image: url("../imgs/myshop_bg(1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 100px;
} */

/* ====================主背框==================== */
.myshop_bg>.myshop_bg_color>.myshop_all{
  width: 1200px;
  /* height:500px; */
  border:3px solid purple;
  margin:0 auto;
  padding-top:100px;
} 

/* =====================標題===================== */
h2{
  font-size: 36px;
  color:#AE0000;
  /* display:block; */
  margin: 80px 0px 0 57px;
 }

 
/* ==============大div: 放三門市div============== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box{
   width:100%;
   display:flex;
   flex-direction: row;
   flex-wrap:wrap;  
  /* justify-content: space-between;  */
  /* align-items:center; */
}


/* ======小div: 放各門市(台北&高雄)====== */
/* ======小div: 放各門市(台北&高雄)====== */
/* ======小div: 放各門市(台北&高雄)====== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop{
  width:60%;
  overflow: hidden;
  position:relative;
  margin:2% auto 2% 57px;
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 4px 4px 5px 4px #555555;
}

/* =====小div: 放各門市(底圖)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop>img{
  width:100%;
}

/* =====小div: 放各門市(地圖)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop>.map_box{
  width:30%;
  border-radius: 50%;
  overflow: hidden;
  position:absolute;
  top:50%;
  left:20%;
  transform: translateY(-50%);
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 2px 2px 5px 2px #444444;
}

.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop>.map_box>img{
  width:100%;
}

/* =====小div: 放各門市(資訊)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop>.information_of_shop{
  width:47%;
  height:100%;
  position: absolute;
  top:0;
  right:0;
}

/* =====各門市(標題)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop>.information_of_shop>h3{
  font-size: 22px;
  font-weight: bold;
  color: #cccccc;
  margin: 8% auto 3% 0;
  color:white;
}

/* =====各門市(時間)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop>.information_of_shop>ul{
  padding-top:2%;
  padding-bottom: 2%;
}

.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop>.information_of_shop>ul>li{
  font-size: 14px;
  font-weight: bold;
  color: #cccccc;
  list-style: none;
  line-height: 1.2;
  padding-left: 15%;
}

/* ===各門市(電話地址)=== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop>.information_of_shop>p{
  font-size: 16px;
  font-weight: bold;
  color: #cccccc;
  margin: 1% auto 1% 0;
}


/* ======小div: 放各門市(台中)====== */
/* ======小div: 放各門市(台中)====== */
/* ======小div: 放各門市(台中))====== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop_b{
  width:60%;
  overflow: hidden;
  position:relative;
  text-align: right;
  margin-left: calc(40% - 57px);
  box-shadow: 4px 4px 5px 4px #555555;
}

/* =====小div: 放各門市(底圖)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop_b>img{
  width:100%;
}

/* =====小div: 放各門市(地圖)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop_b>.map_box{
  width:30%;
  border-radius: 50%;
  overflow: hidden;
  position:absolute;
  top:50%;
  right:20%;
  transform: translateY(-50%);
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 2px 2px 5px 2px #444444;
}

.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop_b>.map_box>img{
  width:100%;
}

/* =====小div: 放各門市(資訊)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop_b>.information_of_shop{
  width:47%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
}

/* =====各門市(標題)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop_b>.information_of_shop>h3{
  font-size: 22px;
  font-weight: bold;
  color: #cccccc;
  margin: 8% auto 3% 0;
  padding-left: 10%;;
  color:white;
}

/* =====各門市(時間)===== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop_b>.information_of_shop>ul{
  padding-top:2%;
  padding-bottom: 2%;
  padding-left: 23%;;
}

.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop_b>.information_of_shop>ul>li{
  font-size: 14px;
  font-weight: bold;
  color: #cccccc;
  list-style: none;
  line-height: 1.2;
  padding-left: 15%;
}

/* ===各門市(電話地址)=== */
.myshop_bg>.myshop_bg_color>.myshop_all>.shops_box>.each_shop_b>.information_of_shop>p{
  font-size: 16px;
  font-weight: bold;
  color: #cccccc;
  margin: 1% auto 1% 0;
  padding-left: 10%;;
}