*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  background-color: #DDDDDD;
}

.product_all{
  width:100%;
  background: -webkit-linear-gradient(#dddddd,#777777);
  background: -o-linear-gradient(#dddddd,,#777777);
  background: -moz-linear-gradient(#dddddd,#777777);
  background: linear-gradient(#dddddd,#777777);
  z-index: -10;
}

/* .product_all>.product_bg_2{
  width:100%;
  height: 28%;
  position:absolute;
  top:50%;
  left:0;
  z-index: -1;
  background-color: rgba(200, 0, 0, 0.1);
} */


.product_all>.product_bg_1{
  width:1200px;
  height:calc(100vh - 75px);
  margin:0 auto;
  /* border:3px solid purple; */
  padding-top: 12%;
  position: relative;
}

/* ========================左側款式圖區=========================== */
/* ========================左側款式圖區=========================== */

.product_all>.product_bg_1>.product_left{
  width:60%;
  background-color: white;
  border:1px solid white;
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 7px 6px 3px 2px #888;
  position: absolute;
  top:26%;
  left:5%;
}

.product_all>.product_bg_1>.product_left>.product_left_01{
  width:99%;
  background-color: white;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:1.5% auto;
  overflow: hidden;
}

.product_all>.product_bg_1>.product_left>.product_left_01>.img_01{
  width: 38%;
}

.product_all>.product_bg_1>.product_left>.product_left_01>.img_02{
  width: 18.35%;
}

#show_02{
  display:none;
}


/* =========================右側 介紹區=========================== */
/* =========================右側 介紹區=========================== */

.product_all>.product_bg_1>.product_right{
  width:32%;
  background-color: white;
  border:1px solid white;
  position: absolute;
  top:50%;
  right:5%;
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 7px 6px 3px 2px #888;
}

.product_all>.product_bg_1>.product_right>.product_right_01{
  width:96%;
  background-color: #DDDDDD;
  border:1px solid white;
  margin:2% auto;
  padding: 2.5% 7%;
}

/* 款式名稱 價格 說明 編號 文字設定 */
.product_all>.product_bg_1>.product_right>.product_right_01>p{
  font-size: 16px;
  color: #444444;
  margin:0;
  padding:0;
  line-height: 30px;
}

.style_name, .style_price, .style_price{
  font-weight: 550;
  color:black;
}

/* ==============右側 表單區================ */
/* ==============右側 表單區================ */

/* label: 顏色 尺碼 數是 文字設定 */
.product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product{
  font-size: 16px;
  line-height: 30px;
  color:#444444;
  vertical-align: top;
}

.product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>img{
  width:18%;
  margin-left:3%;
  border:3px solid white;
  border-radius: 3px;
  /* 水平位移 垂直位移 模糊 擴散 顏色 */
  box-shadow: 1px 1px 1px 1px #888;
  transform: scale(1);
  transition: .5s;   
}
  
.product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>img:hover{
  transform: scale(1.1);
}

/* 下拉選單文字設定 */
.product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>select{
  width:18%;
  margin-left:3%;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
}

/* 購物車 & 最愛 文字設定 */
.product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>button{
  width:40%;
  padding:0;
  margin-right:3%;
  font-size: 16px;
  line-height: 30px;
}

.product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>button:hover{
  background-color: black;
  color:white;
  border:1px solid black;
}


/* ===================================RWD========================================== */
/* @media screen and (min-width: 320px) and (max-width: 419px){
  .product_all>.product_bg_1{
    border:5px solid pink;
    width: 100%;
} 
} */

@media screen and (max-width: 575px){
    .product_all>.product_bg_1{
      /* border:5px solid blue; */
      width: 100%;
    } 

    /* label: 顏色 尺碼 數是 文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product{
      font-size: 12px;
      line-height: 22px;
    }

    /* 下拉選單文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>select{
      font-size: 12px;
      line-height: 22px;
    }

    /* 購物車 & 最愛 文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>button{
      font-size: 12px;
      line-height: 22px;
    }
    /* =========== 左側款式圖區 =========== */
    .product_all>.product_bg_1>.product_left{
      width:95%;
      position:absolute;
      top:22%;
      left:2.5%;
    }

    /* =========== 右側 介紹區 =========== */
    .product_all>.product_bg_1>.product_right{
      width:95%;
      position:absolute;
      top:52%;
      right:2.5%;
    }
  
} 
@media screen and (min-width: 576px) and (max-width: 767px){
    .product_all>.product_bg_1{
      /* border:5px solid green; */
      width: 560px;
    } 
    /* label: 顏色 尺碼 數是 文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product{
      font-size: 14px;
      line-height: 24px;
    }

    /* 下拉選單文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>select{
      font-size: 14px;
      line-height: 24px;
    }

    /* 購物車 & 最愛 文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>button{
      font-size: 14px;
      line-height: 24px;
    }
    /* =========== 左側款式圖區 =========== */
    .product_all>.product_bg_1>.product_left{
      width:90%;
      position:absolute;
      top:18%;
      left:5%;
    }

    /* =========== 右側 介紹區 =========== */
    .product_all>.product_bg_1>.product_right{
      width:64%;
      position:absolute;
      top:55%;
      right:16%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .product_all>.product_bg_1{
      /* border:5px solid yellow; */
      width: 750px;
    } 
    /* label: 顏色 尺碼 數是 文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product{
      font-size: 14px;
      line-height: 26px;
    }

    /* 下拉選單文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>select{
      font-size: 14px;
      line-height: 26px;
    }

    /* 購物車 & 最愛 文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>button{
      font-size: 14px;
      line-height: 26px;
    }
    /* =========== 左側款式圖區 =========== */
    .product_all>.product_bg_1>.product_left{
      width:75%;
      position:absolute;
      top:23%;
      left:2%;
    }

    /* =========== 右側 介紹區 =========== */
    .product_all>.product_bg_1>.product_right{
      width:43%;
      position:absolute;
      top:55%;
      right:2%;
    }
  
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .product_all>.product_bg_1{
      /* border:5px solid orange; */
      width: 980px;
    } 
    /* label: 顏色 尺碼 數是 文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product{
      font-size: 14px;
      line-height: 26px;
    }

    /* 下拉選單文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>select{
      font-size: 14px;
      line-height: 26px;
    }

    /* 購物車 & 最愛 文字設定 */
    .product_all>.product_bg_1>.product_right>.product_right_01>.the_form_area>.form_of_product>button{
      font-size: 14px;
      line-height: 26px;
    }
    /* =========== 左側款式圖區 =========== */
    .product_all>.product_bg_1>.product_left{
      width:63%;
    }

    /* =========== 右側 介紹區 =========== */
    .product_all>.product_bg_1>.product_right{
      width:32%;
    }

}





